#contato {
    h1.titulo {
        & {
            margin-bottom: 0;
        }
    }
    
    p {
        & {
            display: block;
            text-align: center;
            font-size: 20px;
        }
    }

    form {
        & {
            display: flex;
            max-width: 500px;
            margin: 1rem auto;
            flex-direction: column;
        }

        input {
            & {
                display: block;
                margin-bottom: .5rem;
                border: 1px solid #d6d6d6;
                padding: 1rem 15px;
            }
        }
    }
}